<!DOCTYPE html>
<html>
<head>
  <title>Online Store</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="store">
	<div class="logo">
		<%= image_tag('/assets/rails.png')%>
		<%= @page_title || "Pragmatic Bookshelf" %>
	</div>
	<div class="banner">
		<div id="cart">
			<%= render(@cart) %>
		</div>
		<div class="links">
			<a href="#">Home</a><br />
			<a href="#">Questions</a><br />
			<a href="#">New products</a><br />
			<a href="#">Contact us</a><br />
		</div>
		<div class="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
